<div class="my-vue-editor" :class="{'full-screen':fullScreen}" :style="{'z-index':zIndex}">
    <nav class="toolbar" :style="{'z-index':zIndex+1}" ref="toolbar" data-editor="toolbar">
        <ul class="tabs">
            <template v-for="module in modules">
              <template v-if="!module.hasTab">
                <li :title="locale[module.i18n]" class="tab btn" :class="{highLight: module.moduleInspectResult, forbidden: module.forbidden}" @click="activeModule(module)">
                  <span class="icon" :class="module.icon"></span>
                </li>
              </template>
              <template v-else>
                <keep-alive>
                  <li class="tab" :is="module.tabName" :activeItem="module.moduleInspectResult" :forbidden="module.forbidden" :class="{highLight: module.moduleInspectResult, forbidden: module.forbidden}" @click="activeModule(module)"></li>
                </keep-alive>
              </template>
            </template>
        </ul>
    </nav>

    <p class='content' :is="constantConfig.ROW_TAG" :spellcheck="spellcheck" ref="content" id="editor-content" :style="contentStyle" data-editor="content"
         contenteditable="plaintext-only" v-drag-pic="handleDragPic">
    </p>
</div>
