.fore-color-tab
  position: relative
  font-size: 10px
  height: 18px
  line-height: 18px
  width: 14px
  text-align: center
  padding: 4px 4px 4px 6px
  text-align: left
  &:hover
    background: #fff
    padding: 3px 3px 3px 5px
    border: 1px #bcbcbc solid
  &.forbidden
    cursor: not-allowed
    opacity: .3
  .icon
    position: relative
    top: -3px
  .choosed
    position: relative
    left: -.6px
    bottom: 3px
    width: 12px
    height: 4px
  .dropdown
    padding: 5px
    width: 180px
    z-index: 1
    position: absolute
    background: #fff
    left: -1px
    top: 25px
    border: 1px #bcbcbc solid
    overflow: hidden
    li
      margin: 2px
      float: left
      width: 15px
      height: 15px
      cursor: pointer
