.font-tab
  position: relative
  font-size: 14px !important
  padding-left: 3px !important
  line-height: 19px
  width: 42px
  text-align: center
  font-weight: bolder
  padding-right: 0 !important
  .dropdown
    z-index: 1
    position: absolute
    background: #fff
    left: 0
    top: 43px
    border: 1px solid #e5e5e5
    border-top: none
    border-radius: 0 0 4px 4px
    overflow: hidden
    li
      font-size: 12px
      width: 60px
      height: 30px
      line-height: 30px
      background: #fff
      text-align: center
      color: #dcdcdc
      //&:hover
      //  transform: scale(1.2, 1.2)
