.font-tab
  position: relative
  font-size: 10px
  height: 18px
  line-height: 18px
  width: 54px
  text-align: center
  padding: 4px 4px 4px 6px
  text-align: left
  &:hover
    background: #fff
    padding: 3px 3px 3px 5px
    border: 1px #bcbcbc solid
  &.forbidden
    cursor: not-allowed
    opacity: .3
  .icon
    float: right
    padding: 3px
  .dropdown
    z-index: 1
    position: absolute
    background: #fff
    left: -1px
    top: 25px
    border: 1px #bcbcbc solid
    border-top: none
    overflow: hidden
    li
      box-sizing: border-box
      padding-left: 4px
      font-size: 12px
      width: 62px
      height: 30px
      line-height: 30px
      background: #fff
      text-align: left
      cursor: pointer
      &:hover
        background: #f0f0f0
